/* .maincon {
  background: linear-gradient(rgb(255, 38, 142) 0%, rgb(255, 105, 79) 100%);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  height: 645px;
  max-width: 100% !important;

  &::before {
    content: "";
    width: '140%';
    height: '140%';
    position: 'absolute';
    top: '-40%';
    right: '-50%';
    background: 'radial-gradient(at center center, rgb(62, 79, 249) 0%, rgba(62, 79, 249, 0) 64%)';
  }

  &::after {
    content: "";
    width: '140%';
    height: '140%';
    position: 'absolute';
    bottom: '-60%';
    left: '-60%';
    background: 'radial-gradient(at center center, rgb(255, 38, 142) 0%, rgba(255, 38, 142, 0) 70%)';
    transform: 'rotate(360deg)';
  }
} */

body{
  background: url('../src/assets/images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
body::before {
  content: "";
  background: inherit;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1; /* Adjust the opacity as needed */
  z-index: -1;
}
.maincon{
  /* color: white !important; */
}

.highlighted {
  font-weight: 600;
  background-color: darkslategray !important;
}

.MuiDataGrid-columnHeaderTitle.css-t89xny-MuiDataGrid-columnHeaderTitle {
  font-size: 20px;
  font-weight: 600;
}

.MuiDataGrid-cellContent {
  font-size: 16px;
  font-weight: 600;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall.MuiDataGrid-sortIcon.css-ptiqhd-MuiSvgIcon-root {
  color: white !important;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall.css-ptiqhd-MuiSvgIcon-root {
  color: white;
}

.MuiTablePagination-root.css-rtrcn9-MuiTablePagination-root {
  color: white;
}

button.MuiButtonBase-root.Mui-disabled.MuiIconButton-root.Mui-disabled.MuiIconButton-colorInherit.MuiIconButton-sizeMedium.css-zylse7-MuiButtonBase-root-MuiIconButton-root {
  color: white;
}