body{
  background: url('../src/assets/images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.highlighted {
  font-weight: 600;
  background-color: darkslategray !important;
}

.MuiDataGrid-columnHeaderTitle.css-t89xny-MuiDataGrid-columnHeaderTitle {
  font-size: 20px;
  font-weight: 600;
}

.MuiDataGrid-cellContent {
  font-size: 16px;
  font-weight: 600;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall.MuiDataGrid-sortIcon.css-ptiqhd-MuiSvgIcon-root {
  color: white !important;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall.css-ptiqhd-MuiSvgIcon-root {
  color: white;
}

.MuiTablePagination-root.css-rtrcn9-MuiTablePagination-root {
  color: white;
}

button.MuiButtonBase-root.Mui-disabled.MuiIconButton-root.Mui-disabled.MuiIconButton-colorInherit.MuiIconButton-sizeMedium.css-zylse7-MuiButtonBase-root-MuiIconButton-root {
  color: white;
}